PORT=
MONGODB_URL=
JWT_SECRET_KEY=
REFRESH_JWT_SECRET_KEY=
ADMIN_NAME=
ADMIN_PHONE=
ADMIN_EMAIL=
ADMIN_PASSWORD=
DEMO_NAME=
DEMO_EMAIL=
DEMO_PHONE=
DEMO_PASSWORD=
GEMINI_API_KEY=
NODE_ENV=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
